<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.feicuiedu.gitdroid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GitdroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".github.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".github.login.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".github.repo.RepoInfoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>
